
.inputsWrapper{
    display: flex;
    align-items: center; 
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 40px;
    gap:3px;
}

.dropdown {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-family:'Lucida Sans';

}

.dropdown:hover {

}


.generateGraphBtn {
    margin-top: 11px;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    font-size: 16px;
    position: absolute;
    top: 21%;
    left: 12%;
}

label{
    font-size: 22px;
}
.yearselect{
    width: 120px;
}
.years{
    display: flex;
    align-items: center; 
    height: auto;
    height: 30px;


}
.years p{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

}

.chartDiv{
    position: absolute;
    width: 60vw;
    max-height: 50vh;
    top: 33%;
    left: 12%;
}

