.inputsWrapper{
    display: flex;
    gap: 200px; 
    align-items: center; 
}

.inputWrapper{
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-family:'Lucida Sans';

}

.dropdown:hover {

}


.generateGraphBtn {
    margin-top: 11px;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    font-size: 16px;
}

label{
    font-size: 22px;
}
.yearselect{
    width: 120px;
}
.years{
    display: flex;
    align-items: center; 
    height: auto;
    height: 30px;


}
.years p{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

}