.clickable-list{
    color: white;
    list-style: none;
    font-size: 28px;
    padding-top: 25px;
    padding-left: 0px;
    width: auto;
}

.clickable-item{
    position: relative;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.clickable-item:hover{
    background-color:#fff36a;
    color: #e6aaff;
}